* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chart-container {
  position: relative;
  background: #fff;
  width: 320px;
  height: 320px;
}

.chart-container .chart-title {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  line-height: 100%;
}

.chart-container .chart-ticks {
  position: absolute;
  top: 0;
  left: 0;
}

.chart-container .chart-ticks .chart-tick {
  position: absolute;
  width: 100%;
  right: 0;
  text-align: right;
}

.chart-container .chart-ticks span {
  position: relative;
  top: 0.35em;
}

.chart-container .chart-labels {
  position: absolute;
  right: 0;
}

.chart-container .chart-labels .chart-label {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  white-space: nowrap;
}

.chart {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 320px;
}

.chart .chart-bar {
  position: absolute;
  display: flex;
  bottom: 0;
  justify-content: center;
  font-weight: bold;
}

.chart .chart-bar:hover {
  box-shadow: 0 0 5px rgb(89, 94, 95);
}
