@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
}
body {
  transform: scale(1.2);
  transform-origin: 1 0;
}
h1 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  top: -3em;
  position: relative;
}

.main-content {
  height: 60.9375em;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chart {
  height: 320px;
  width: 320px;
}

.chart-container {
  padding: 10em;
  font-family: "Ubuntu", sans-serif;
}

@media screen and (max-width: 700px) {
  .main-content {
    flex-direction: column;
  }
}

#tabs-nav a {
  display: inline-block;
  width: 44%;
  padding: 0.2em 0;
  margin: 0;
  text-decoration: none;
  color: #37474f;
  font-family: "Ubuntu", sans-serif;
}

.tabs1.current ~ hr,
ul li.tabs1:hover ~ hr {
  margin-left: 0%;
}

.tabs2.current ~ hr,
ul li.tabs2:hover ~ hr {
  margin-left: 50%;
}

#tabs {
  width: 320px;
  height: 363px;
  letter-spacing: 0.2em;
  padding: 2em;
  margin: 2em;
  border-radius: 5px 5px 5px 5px;
}
ul li {
  display: inline;
  text-align: center;
}
hr {
  height: 0.25rem;
  width: 44%;
  margin: 0;
  background: #37474f;
  border: none;
  transition: 0.3s ease-in-out;
}

.tab-content {
  padding: 10px;
  display: none;
  background-color: #fff;
}

label {
  display: block;
  color: rgba(65, 70, 74, 0.5);
  font-family: "Ubuntu", sans-serif;
  font-size: 0.625em;
  font-weight: 200;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-top: 2em;
}

.subLabel {
  font-weight: 700;
  color: black;
  font-size: 0.875em;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.1em;
}
input[type="text"] {
  border: none;

  font-family: "Ubuntu", sans-serif;
  width: 10em;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all 0.5s ease;
  position: relative;
  font-size: 10px;
  color: #474747;
  height: 16px;
  text-align: left;
  letter-spacing: normal;
  padding: 3px;
}

input[type="range"] {
  width: 100px;
  background: none;
}

#Customization {
  display: flex;
}

#fontCutomization {
  display: flex;
  flex-direction: column;
}
.label-input {
  width: 6.2815em;
}

.table-title {
  font-family: "Ubuntu", sans-serif;
  text-align: left;
  font-size: 0.875em;
}
.edit-items-container {
  padding-top: 1em;
  display: contents;
}
tr {
  width: 100px;
}
.button {
  font-size: 10px;
  float: left;
  min-width: 65px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 1em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Ubuntu", sans-serif;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}

.box {
  display: flex;
  font-size: 10px;
}
.button--ujarak {
  -webkit-transition: border-color 0.4s, color 0.4s;
  transition: border-color 0.4s, color 0.4s;
}
.button--ujarak::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  border-radius: 5px;
}
.button--ujarak.button--round-s::before {
  border-radius: 2px;
}
.button--ujarak.button--inverted::before {
  background: #7986cb;
}
.button--ujarak,
.button--ujarak::before {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak:hover {
  color: #fff;
  border-color: #37474f;
}
.button--ujarak.button--inverted:hover {
  color: #37474f;
  border-color: #fff;
}
.button--ujarak:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.dropdown {
  width: 79px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all 0.5s ease;
  position: relative;
  font-size: 10px;
  color: #474747;
  height: 100%;
  text-align: left;
  letter-spacing: normal;
}
.dropdown .select {
  cursor: pointer;
  /* display: inline; */
  padding: 5px;
  font-size: 10px;
}
.dropdown .select > i {
  font-size: 0.875em;
  color: #888;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  float: left;
  line-height: 20px;
}
.dropdown:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204);
}
.dropdown:active {
  background-color: #f8f8f8;
}
.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}
.dropdown.active .select > i {
  transform: rotate(-90deg);
}
.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: 150px;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  z-index: 9;
}
.dropdown .dropdown-menu li {
  padding: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
}
.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}
.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
}
.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}

#dropdown-content {
  margin-top: 0.5625em;
}
.colorButton {
  height: 36px;
  width: 36px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: none;
  cursor: pointer;
}

.colorPicker {
  height: 36px;
  width: 36px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: none;
  cursor: pointer;
  margin: 6px;
  margin-left: 0;
  border-radius: 3px;
}

#SliderButton {
  height: 36px;
  width: 36px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background: none;
  border: solid 1px;
  border-radius: 3px;
  font-weight: 900;
  margin: 6px;
  margin-left: 0;
  cursor: pointer;
  font-size: 10px;
}
#Customization {
  display: flex;
  flex-direction: column;
}

#cutomizationButton {
  display: flex;
  justify-content: flex-start;
}

#SliderButton:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.colorPicker:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.colorButton:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

#color1 {
  background-image: linear-gradient(
    to left bottom,
    #5590e9,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  border-radius: 3px;
}

#color2 {
  background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
  border-radius: 3px;
}

#color3 {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border-radius: 3px;
}
